nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: lightgray;
    padding: 0 1em;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    padding: .8em;
}

a {
    text-decoration: none;
    color: #aeca0e;
}

a:visited {
    color: #aeca0e;
}

